// 单行省略
@mixin tofl($width) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行省略
@mixin erow($row: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// 单行省略类名
.ellipsis {
  @include tofl(100%);
}

// 多行省略类名
@for $i from 1 through 5 {
  .multi-ellipsis-#{$i} {
    @include erow(#{$i});
  }
}
