// colors
$backColor: #f6f7fb;

// 主要配色
$mainBlue: #5755b3;
$mainPink: #f1b7d0;
$mainCyan: #6fd0ee;

// 配色延伸
$subColor1: #1c1980;
$subColor2: #b95881;
$subColor3: #0aa0cc;
$subColor4: #bebdea;
$subColor5: #f6d7e4;
$subColor6: #bff0ff;

// 黑色递进
$textColor1: #222530;
$textColor2: #6f7178;
$textColor3: #909297;
$textColor4: #c8c8cb;

// 边框色
$borderColor: #c8c8cb;

// fonts

// weight
